.footer{
    width: 100%;
    height: 100%;
    background-color: @black;
   
    .container {
      
        width: 100%;
        max-width: 1170px;
        position: relative;
        height: 100%;
    }
    &--top{
        padding-top: 5.5%;
        max-height: 100%;
        width: 100%;
    }
    &__aboutus{
        color: @text-header;
        &__title h4{
            font-size: 17px;
            font-weight: 700;
            color: @white;
            margin-left: -3px;
        }
        .line1{
            border-bottom: 1px @line-color solid;
            margin-top: 26px;
            width: 90%;
        }
        &__content{
            margin: 6% 0px;
            font-size: 13px;
            letter-spacing: 0px;
            line-height: 22px;
            word-spacing: 2px;
            width: 71%;
            color: @footer-color;
        }
        &__icon {
          ul{
                list-style: none;
                margin-top: 7.8% ;   
                li{
                    display: inline-block;
                    margin: 0px 14px;
                    padding: 13px 0px;
                    a{
                        color: @footer-color;
                    }
                    a:hover{
                        color: @white;
                    }
              }
              li:nth-child(1){
                  margin-left: 0px;
              }
          }
          
        }
    }
    &__navigation{
        &__title h4{
            font-size: 17px;
            font-weight: 700;
            color: white;
            margin-left: -3px;
        }
        .line2{
            border-bottom: 1px @line-color solid;
            margin-top: 26px;
            width: 79%;
        }
        &__content{
           .list1{
               margin-top: 12%;
           }
           .list2{
               margin-top: 7%;
               li{
                   word-spacing: 2px;
               }
           }
            ul li{
                list-style: none;
                
                font-size: 13px;
                line-height: 30px;
                a{
                    color: @footer-color;
                }
                a:hover{
                    color: @white;
                    text-decoration: revert;
                }
             
               
            }
            &--right{
                padding: 0 6px;
            }
            
        }
    }
    &__address{
        color: @text-header;
        &__title h4{
            font-size: 17px;
            font-weight: 700;
            color: white;
            margin-left:-3px ;
        }
        .line3{
            border-bottom: 1px @line-color solid;
            margin-top: 26px;
            width: 100%;
        }
        ul {
            margin: 20px 0px;
            line-height: 38px;
            font-size: 13px;
            
            li {
                list-style: none;
                a{
                    color: @footer-color;
                }
                a:hover{
                    color: @white;
                    text-decoration: none;
                }
            }
            
        }
        .address--icon {
            ul{
                li{
                    margin: -1px 0;
                }
            }
            .phone{
                margin-top: 24px;
                 font-size: 12px;
            }
        }
        .address {
            ul{
                margin: 22px 0;
                li{

                    line-height: 33px;
                    width: 93%;
                    word-spacing: 1px;
                    margin: 0 -8%;
                    span{
                        a:nth-child(2){
                            word-spacing: 5px;
                        }
                    }
                }
            }
        }
        
    }
    &--bottom{
        
        color: grey;
        padding-top: 3.2%;
        font-size: 14px;
        width: 100%;
        address{
            word-spacing: -0.5px; 
        }
        &__payment{
            text-align: right;
            ul li{
                list-style: none;
                display: inline-block;
                font-size: 21px;
                margin-left: 4px;
                margin-top: -7px;
                a{

                    color: @footer-color;
                }
                a:hover{
                    color: @white;
                    
                }
            }
        }
    }
}

@media all and (max-width: 1024px){
    .footer{
        &__aboutus{
            .line1{
                width: 100%;
            }
        }
        &__navigation{
            .line2{
                width: 100%;
            }
            &__content{
                &--left{
                    padding-left: 0;
                }
            }
        }
        &__address{
            .line3{
                width: 100%;
            }
            .address{
                ul{
                    li{
                        margin: 2% -8%;
                    }
                }
            }
            .address--icon{
                padding-left: 0;
            }
        }
        &--top,&--bottom{
            .row{
                max-width: 100%;
                margin: 0;
            }
        }
    }
}
@media all and(max-width:993px){
    .footer{
        &__navigation{
            &__content{
                .list2{
                    margin-top: 11%;
                    
                }
                &--left{
                    padding-left:0 ;
                }
            }
        }
        &__aboutus{
            &__content{
                margin: 4% 0px;
            }
            &__icon{
                ul{
                    margin-top: 3%;
                }
            }
        }
    
    }
}
@media all and(max-width:768px){
    .footer{
        &__address{
            .address--icon{
                .phone{
                    margin-top: 13px;
                }
            }
        }
    }
}
@media all and(max-width: 577px){
    .footer{
        &--bottom{
            address{
                font-size: 12px;
                text-align: center;
            }
            .row{
                flex-direction: column-reverse;
            }
            &__payment{
                text-align: center;
            }
        }
        &__address{
            ul {
                margin: 19px 0px;
                line-height: 46px;
                font-size: 13px;         
            }
            .address{
                ul{
                    li{
                        margin:5% -8%;
                    }
                }
            }
        }
    }
}
@media all and(max-width:376px){
    .footer{
        &--bottom{
            address{
                font-size: 12px;
            }
            .row{
                flex-direction: column-reverse;
            }
            &__payment{
                text-align: center;
            }
        }
        &__address{
           
            ul {
                margin: 20px 0px;
                line-height: 43px;
                font-size: 13px;         
            }
           
          .address{
              ul{
                  li{
                    margin: 2% -8%;
                  }
              }
          }
          .address--icon{
              .phone{
                margin-top:20px;
              }
          }
        }
    }
   
}